.grid {
    display: grid;
    grid-gap: 10px;
    grid-template: 80px 160px 320px 160px 80px / repeat(4, 1fr);
    grid-template-areas: "header header header header" "image image cta cta" "main main main main" "links links links ads" "footer footer footer footer";
}

.item {
    background-color: blue;
}

.header {
    grid-area: header;
}

.teaser-image {
    grid-area: image;
}

.teaser-cta {
    grid-area: cta;
}

.main {
    grid-area: main;
}

.footer-links {
    grid-area: links;
}

.footer-ads {
    grid-area: ads;
}

.superfooter {
    grid-area: footer;
}